
.block {
    height: 45em;
    border-left:1px solid lightgray;
    border-right:1px solid lightgray;
    background: #f6f8f9; /* Old browsers */
    background: -moz-linear-gradient(top, #f6f8f9 0%, #e5ebee 50%, #d7dee3 51%, #f5f7f9 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%); /* Chrome10-25,Safari5.1-6 */

}
.title {
    padding: 25px;
}
.imgresponsive{
    width: 200px;
    height: 150px;
}
.scelta-utente .scelta-computer, img{
    width: 80px;
}
.padding-top-30{
    padding-top: 30px;
}
.padding-bottom-40{
    padding-top: 40px;
}
.img_scelta__computer{
    padding-right: 51px;
    padding-top: 40px;
}
button {
    -webkit-box-shadow: 0px 2px 1px rgba(50, 50, 50, 0.75) !important;
    -moz-box-shadow:    0px 2px 1px rgba(50, 50, 50, 0.75) !important;
    box-shadow:         0px 2px 1px rgba(50, 50, 50, 0.75) !important;
}
.risultato{
    height: 120px;
    background: white;
    border: 1px solid gray;
    border-radius: 3px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);

}
/*.vittoria-computer{*/
    /*background: red;*/
/*}*/
/*.vittoria-computer{*/
    /*background: lightseagreen;*/
/*}*/